<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 
    <head>
        <title>Foorumin etusivu</title>
        <meta charset="utf-8" />
    </head>
 
    <body>
        <h1>Foorumi</h1>
 
        <p><img src="http://media.tori.net/image/medium_660/39/3940800873.jpg" alt="Koira" style="width:165px;height:250px;"/> </p>
        <p>    </p>
     
       
       
        <h3>Suosituimmat aihealueet</h3>
       
        <h3>Uusimmat viestit</h3>
       
        <h3>JNE...</h3>
       
        <h2><a href="/aihealue">Kaikki aihealueet</a></h2>
    </body>
</html>