<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 
    <head>
        <title>Foorumi Milo</title>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link rel="stylesheet" type ="text/css" media="all" href="/tyylit.css"/>
    </head>
 
    <body>
        <h1>Foorumi Milo</h1>
 
        
        <p>Tervetuloa ryhmä Milon foorumeille    </p>
     
       
       
        
       
        <h2><a href="/aihealue.html" class="button">Kaikki aihealueet</a></h2>
       
    </body>
</html>